<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorator="layout/pageLayout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title th:text="#{admin.home.title}">Title</title>
</head>

<body>
<div layout:fragment="content">
	Admin home
</div>
</body>

</html>
