<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for unlock-confirm email</title>
<meta charset="UTF-8" />
</head>
<body>
	<div th:with="url=${baseUrl + '/account/unlock/confirm'}">
		<p>To unlock your account please click <a th:href="@{${url}(hash=${hash})}">here</a>.</p>
		<p>If the link doesn't work copy the following URL: <span th:text="@{${url}(hash=${hash})}">url</span></p>
	</div>
</body>
</html>
