<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="header">
	<div sec:authorize="isAuthenticated()" class="pull-right" id="logout">
		<span sec:authentication="name">User</span> -
		<a href="#" th:text="#{header.logout}">Log out</a>
		<form action="#" th:action="@{/account/logout}" method="post"></form>
	</div>
</header>
</body>
</html>
