<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="cssImports" th:remove="tag">
	<!-- webjars imports -->
	<link rel="stylesheet" media="screen" th:href="@{'/webjars/bootswatch-cerulean/' + ${cssVersion} + '/css/bootstrap.min.css'}" th:with="cssVersion=${@environment.getProperty('info.versions.bootstrap')}"
		href="http://cdn.jsdelivr.net/webjars/bootswatch-cerulean/3.3.2/css/bootstrap.min.css" />
	<link rel="stylesheet" media="screen" th:href="@{'/webjars/font-awesome/' + ${cssVersion} + '/css/font-awesome.min.css'}" th:with="cssVersion=${@environment.getProperty('info.versions.font-awesome')}"
		href="http://cdn.jsdelivr.net/webjars/font-awesome/4.4.0/css/font-awesome.min.css" />

	<!-- custom imports -->
	<link rel="stylesheet" media="all" th:href="@{/css/style.css}" href="../../static/css/style.css" />
</head>

<body>
</body>
</html>
