<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorator="layout/pageLayout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title th:text="#{${title}}">Title</title>
</head>

<body>
<div layout:fragment="content" class="account-form-container">
	<form action="#" th:action="@{/account/password/reset/confirm(hash=${param.hash})}" th:object="${passwordResetConfirmCommand}" method="post" role="form">

		<div class="form-group" th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="text-danger">Global errors</p>
		</div>

		<div class="form-group" th:classappend="${#fields.hasErrors('password')} ? has-error">
			<label th:for="password" th:text="#{account.passwordresetconfirm.password.label}" class="sr-only">Password</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
				<input type="password" class="form-control" th:field="*{password}" th:placeholder="#{account.passwordresetconfirm.password.placeholder}"
					required="required" autocomplete="off" autofocus="autofocus" th:pattern="${regexPasswordPattern}" th:title="#{Pattern.password}" />
			</div>
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Invalid password</p>
		</div>
		<div class="form-group" th:classappend="${#fields.hasErrors('repeatPassword')} ? has-error">
			<label th:for="repeatPassword" th:text="#{account.passwordresetconfirm.repeatPassword.label}" class="sr-only">Repeat password</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
				<input type="password" class="form-control" th:field="*{repeatPassword}" th:placeholder="#{account.passwordresetconfirm.repeatPassword.placeholder}"
					required="required" autocomplete="off" pattern="" th:title="#{Pattern.repeatPassword}" />
			</div>
			<p th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}" class="text-danger">Invalid repeatPassword</p>
		</div>
		<div class="form-group">
			<button type="submit" class="form-control" th:text="#{account.passwordresetconfirm.submit}">Submit</button>
		</div>
	</form>
</div>
</body>

</html>
