<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorator="layout/pageLayout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title th:text="#{${title}}">Title</title>
</head>

<body>
<div layout:fragment="content" class="account-form-container">
	<form action="#" th:action="@{/account/activate}" th:object="${activateCommand}" method="post" role="form">

		<div class="form-group" th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="text-danger">Global errors</p>
		</div>

		<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
			<label th:for="email" th:text="#{account.activate.email.label}" class="sr-only">Email</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
				<input type="email" class="form-control" th:field="*{email}" th:placeholder="#{account.activate.email.placeholder}"
					required="required" autofocus="autofocus" th:pattern="${regexEmailPattern}" th:title="#{Pattern.email}" />
			</div>
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Invalid email</p>
		</div>
		<div class="form-group">
			<button type="submit" class="form-control" th:text="#{account.activate.submit}">Submit</button>
		</div>
	</form>
</div>
</body>

</html>
