<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorator="layout/pageLayout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title th:text="#{misc.error-msg.title}">Title</title>
</head>

<body>
<div layout:fragment="content">

	<h2 th:text="#{misc.error-msg.header}">Error</h2>
	<div th:if="${!#strings.isEmpty(errorMsg)}" th:text="#{${errorMsg}}">The error message.</div>

	<ul th:if="${!#lists.isEmpty(errors)}">
		<li th:each="err : ${errors}" th:text="#{${err.code}(${err.arguments})}" th:class="text-danger">Errors</li>
	</ul>

</div>
</body>

</html>
