<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorator="layout/pageLayout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title th:text="#{misc.info-msg.title}">Title</title>
</head>

<body>
<div layout:fragment="content">

	<h2 th:text="#{misc.info-msg.header}">Info</h2>
	<p th:if="${!#strings.isEmpty(infoMsg)}" th:text="#{${infoMsg}}">The information message.</p>

</div>
</body>

</html>
